POSTGRES_USER=pgosm_flex
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_HOST=host.docker.internal
POSTGRES_DB=washington
POSTGRES_PORT=5432
RAM=8
REGION=north-america/us
SUBREGION=washington
LAYERSET=infrastructure
SRID=4326