S3_BUCKET=my-bucket
S3_BASE_PREFIX=climate-risk-map/backend/climate/scenariomip
CLIMATE_VARIABLE=burntFractionAll
SSP=126,245,370,585
XARRAY_ENGINE=h5netcdf
CRS=4326
X_DIM=lon
Y_DIM=lat
TIME_DIM=time
CLIMATOLOGY_MEAN_METHOD=decade_month
ZONAL_AGG_METHOD=max
CONVERT_360_LON=TRUE
STATE_BBOX=washington
PG_DBNAME=pgosm_flex_washington
PG_USER=climate_user
PG_HOST=host.docker.internal
PG_PASSWORD=mysecretpassword
OSM_CATEGORY=infrastructure
OSM_TYPE=power
METADATA_KEY=UW_CRL_DERIVED